<?xml version="1.0" encoding="utf-8"?>
<application
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="lib/schema/app.xsd">

    <paths>
        <systemStatus>../STATUS</systemStatus>
        <equipmentSet>equipment.xml</equipmentSet>
        <actionHandlers>default/action</actionHandlers>
    </paths>

</application>